﻿<!DOCTYPE html>
<html  ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <div ng-controller="HomeController">
        <h1>{{tittle}}</h1>

        <div ng-controller="NovoController">
            <h1>{{tittle}}</h1>
        </div>

        <h1>{{tittle}}</h1>
    </div>

    <script src="../Scripts/angular.min.js"></script>
    <script>

        //Criando um módulo
        angular.module('app', []);
        var app = angular.module('app');
        app.controller('HomeController', function($scope){
            $scope.tittle = "Olá controller";
        });

        app.controller('NovoController', function ($scope) {
            $scope.tittle = "Olá novo controller";
        });

    </script>
</body>
</html>