<md-sidenav
  class="md-sidenav-left"
  md-component-id="menu"
  md-disable-backdrop md-whiteframe="16"
  click-outside="core.closeMenu()"
>
  <md-content layout-margin layout-padding>
    <p> Clique fora para fechar o menu.</p>
  </md-content>
</md-sidenav>

<md-toolbar md-whiteframe="4">
  <div class="md-toolbar-tools">
    <md-button
      class="md-icon-button"
      aria-label="Menu"
      ng-click="core.toggleMenu()"
    >
      <i class="material-icons">menu</i>
    </md-button>

    <h2 flex md-truncate>VitaCall</h2>
  </div>
</md-toolbar>

<md-content class="nav" id="nav">
  <md-button ui-sref="home" class="md-raised md-primary">Home</md-button>
  <md-button ui-sref="sac" class="md-raised md-primary">SAC</md-button>
</md-content>

<ui-view></ui-view>