﻿<!DOCTYPE html>
<html  ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <div ng-controller="MeuCtrl">
        <input type="text" ng-model="umacor" />
        <h1>Uma cor {{umacor}}</h1>
    </div>

    <script src="../Scripts/angular.min.js"></script>
    <script>
        //Criando um módulo
        angular.module('app', [ ]);
        angular.module('app').controller('MeuCtrl', function($scope){
            $scope.umacor = "azul";
        });
    </script>
</body>
</html>