/* DEFAULT */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  outline: none;
}

*:not(.material-icons) {
  font-family:
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  border-color: rgba(0,0,0,0.12) !important;
  background-color: rgba(0,0,0,0.12) !important;
}
