﻿<!DOCTYPE html>
<html  ng-app="app">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
    <div ng-controller="HomeController">
        <h1>{{user}}</h1>

    </div>

    <script src="../Scripts/angular.min.js"></script>
    <script>

        //Criando um módulo
        angular.module('app', []);
        var app = angular.module('app');
        app.controller('HomeController', function($scope){
            $scope.user = "Bruno Schoola";
        });
        

    </script>
</body>
</html>