﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="minhaApp.Controllers">
    Hello!!!

    <div ng-app="minhaApp">
        <div ng-controller="meuCtrl">
            <h1>{{titulo}}</h1>
        </div>
    </div>

    <div ng-app="minhaApp.Admin">
        <div ng-controller="meuCtrl">
            <h1>{{titulo}}</h1>
        </div>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script>
        //Criando um módulo
        angular.module('minhaApp', ['ngRoute', 'minhaApp.Controllers']);
        angular.module('minhaApp.Controllers', []);
        angular.module('minhaApp.Admin', []);

        //Obtendo um módulo
        var modulo = angular.module('minhaApp.Controllers');

        modulo.controller('meuCtrl', function ($scope) {
            $scope.titulo = "Olá da minhaApp";
        });
    </script>
</body>
</html>